{%extends 'layout/base.html'%}

{%block content%}
<body style="background-color: #D5E1E6">
<div class="treatment-form-wrapper p-4">
    <h3 class="mb-4 d-flex align-items-center">
        <span class="material-symbols-rounded me-2">list_alt</span> Lập phiếu điều trị
    </h3>
    <hr>

    <form method="post">
        <div class="row align-items-end mb-4">
                       <div class="col-md-2 mb-3">
                <label for="service_name" class="form-label">Tên dịch vụ</label>
                <input type="text" class="form-control" id="service_name" placeholder="Chọn dịch vụ"
                       name="dichvu">
            </div>
            <div class="col-md-2 mb-3">
                <label for="price" class="form-label">Đơn giá</label>
                <input type="text" class="form-control" id="price" placeholder="Đơn giá" name="dongia">
            </div>
            <div class="col-md-3 mb-3">
                <label for="note" class="form-label">Ghi chú</label>
                <input type="text" class="form-control" id="note" placeholder="Nhập vào ghi chú" name="ghichu">
            </div>
            <div class="col-md-2 mb-3">
                <label for="prescription_date" class="form-label">Ngày lập phiếu</label>
                <input type="date" class="form-control" id="prescription_date" value="2025-12-12" name="ngaylapphieu">
            </div>
            <div class="col-md-2 mb-3">
                <!--                name="action" value="add_new"-->
                <button class="btn btn-primary me-2 treat-action" type="submit">
                    <span class="material-symbols-rounded">add_box</span> Thêm mới
                </button>
            </div>
    </form>
    <form>
        <div class="col-md-4 mb-0.95 d-flex flex-row justify-content-start action-bar">
            <input type="text" class="form-control w-50 me-2" placeholder="Tìm kiếm dịch vụ, ghi chú..." name="q">
            <button class="btn btn-outline-primary treat-action" type="submit">
                <span class="material-symbols-rounded">search</span> Tìm kiếm
            </button>
        </div>
    </form>

</div>


<div class="card shadow-sm">
    <div class="card-header border-bottom-0">
        <p class="h6 mb-0 d-flex align-items-center">
            <span class="material-symbols-rounded me-2">list_alt_check</span> Danh sách đơn kê thuốc
        </p>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped table-hover mb-0">
                <thead>
                <tr>
                    <th style="width: 5%;">STT</th>
                    <th style="width: 25%;">Dịch vụ</th>
                    <th style="width: 15%;">Đơn giá</th>
                    <th style="width: 15%;">Ghi chú</th>
                    <th style="width: 15%;">Ngày kê đơn</th>
                    <th style="width: 3%;">Xóa</th>
                </tr>
                </thead>
                <tbody>
                {% for s in serv%}
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.price}}</td>
                    <td>{{s.note}}</td>
                    <td>{{s.created_date}}</td>
                    <td>
                        <form method="POST" action="{{ url_for('delete_detail', id=s.id,name='TreatmentSheet') }}" style="display:inline;">

                            <input type="hidden" name="action" value="delete_details">

                            <button type="submit" class="btn text-danger p-0" title="Xóa mục kê đơn này"
                                    onclick="return confirm('Bạn có chắc chắn muốn xóa mục thuốc {{ s.name }} không?');">
                                <span class="material-symbols-rounded delete">delete</span>
                            </button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
{%endblock%}